<%- include("partials/header")%>

<section class="homeSec1">
  <h2>You can Buy Products here</h2>
  <p>The best Store in India</p>
  <div class="ctaBtn">
    <a href="/products">Products</a>
  </div>
</section>

<%- include("partials/footer")%>
